table{
  height: 70%;
  width: 100%;
  table-layout: fixed;
  overflow: scroll;
}

tbody{
  height: 70%;
  width: 100%;
  overflow: scroll;
}

.tema, .actions{
  width: 1.5em;
  height: auto;
  word-wrap: break-word;
}

.titulo, .descricao{
  width: 5em;
  height: auto;
  word-wrap: break-word;
}

.link, .imagem{
  width: 2em;
  height: auto;
  word-wrap: break-word;
}

Input{
  min-width: none;
}